<!-- navbar.html -->
<nav class="bg-gray-800">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <div class="flex items-center">
      <a href="{% url 'main:show_main' %}" class="text-white text-2xl font-bold">SIPACIL</a>
    </div>
    
    <div class="hidden md:flex space-x-6">
      <a href="{% url 'main:show_main' %}" class="text-gray-300 hover:text-white">Home</a>
      <a href="{% url 'main:create_product_entry' %}" class="text-gray-300 hover:text-white">Create Product</a>
      <a href="{% url 'main:logout' %}" class="text-gray-300 hover:text-white">Logout</a>
    </div>

    <div class="md:hidden flex items-center">
      <button id="menu-toggle" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  <div id="menu" class="hidden md:hidden">
    <div class="bg-gray-700 flex flex-col space-y-2 py-4">
      <a href="{% url 'main:show_main' %}" class="text-gray-300 hover:text-white text-center">Home</a>
      <a href="{% url 'main:create_product_entry' %}" class="text-gray-300 hover:text-white text-center">Create Product</a>
      <a href="{% url 'main:logout' %}" class="text-gray-300 hover:text-white text-center">Logout</a>
    </div>
  </div>
</nav>

<!-- Script untuk mengontrol menu mobile -->
<script>
  const menuToggle = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');

  menuToggle.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>
